name: Build Z2X-Programmer-Windows-WIN32

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Install MAUI workload
      run: dotnet workload install maui
    - name: Build
      run: dotnet build Z2X-Programmer/Z2X-Programmer.csproj -c Release -f net10.0-windows10.0.19041.0 /p:Platform=x86
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.6.2
      with:
            name: Z2X-Programmer-Windows-WIN32 
            path: .\**\bin\x86\Release\net10.0-windows10.0.19041.0\win-x86\**\*.*
